/* GRID TEST 12 COLUMNS - Dante L'Erario */

/* CONTAINER */
.container {
  width: 80%;
  max-width: 100%;
  height: auto;
  margin: 0 auto 50px;
  border-radius: 10px;
  background: rgba(51,71,91, 1);
  color: rgba(255,255,255, 1);
  box-shadow: -20px 18px 50px -6px rgba(51,71,91,1);
}

.container::after {
  content: '';
  display: table;
  clear: both;
}

.container:hover {
  transform: scale(1.015);
}

[class^="col-"] {
  float: left;
  height: auto;
  /* DEBUG: starts  */
  /* padding: 16px;
  background: lightblue;
  text-align: left; */
  /* border: 1px solid red; */
  /* DEBUG: ends */
}

/* COL-X */

/* MEDIA QUERIES - RESPONSIVE SETTINGS */

@media screen and (max-width: 400px) {

  .container {
    background: rgba(81,71,91, 1);
    color: rgba(255,255,255, 1);
    box-shadow: -20px 18px 50px -6px rgba(51,71,91,1);
  }
  .col-xs-1 {
    width: calc(100% / 12);
  }

  .col-xs-2 {
    width: calc((100% / 12) * 2);
  }

  .col-xs-3 {
    width: calc((100% / 12) * 3);
  }

  .col-xs-4 {
    width: calc((100% / 12) * 4);
  }

  .col-xs-5 {
    width: calc((100% / 12) * 5);
  }

  .col-xs-6 {
    width: calc((100% / 12) * 6);
  }

  .col-xs-7 {
    width: calc((100% / 12) * 7);
  }

  .col-xs-8 {
    width: calc((100% / 12) * 8);
  }

  .col-xs-9 {
    width: calc((100% / 12) * 9);
  }

  .col-xs-10 {
    width: calc((100% / 12) * 10);
  }

  .col-xs-11 {
    width: calc((100% / 12) * 11);
  }

  .col-xs-12 {
    width: 100%;
  }

  img {
    width: auto;
    height: 45px;
  }

  img:hover {
    transform: rotate(350deg);
  }
}

@media screen and (min-width: 401px) and (max-width: 768px) {

  .container {
    background: rgba(81,71,201, 1);
    color: rgba(255,255,255, 1);
    box-shadow: -20px 18px 50px -6px rgba(51,71,91,1);
  }
  .col-md-1 {
    width: calc(100% / 12);
  }

  .col-md-2 {
    width: calc((100% / 12) * 2);
  }

  .col-md-3 {
    width: calc((100% / 12) * 3);
  }

  .col-md-4 {
    width: calc((100% / 12) * 4);
  }

  .col-md-5 {
    width: calc((100% / 12) * 5);
  }

  .col-md-6 {
    width: calc((100% / 12) * 6);
  }

  .col-md-7 {
    width: calc((100% / 12) * 7);
  }

  .col-md-8 {
    width: calc((100% / 12) * 8);
  }

  .col-md-9 {
    width: calc((100% / 12) * 9);
  }

  .col-md-10 {
    width: calc((100% / 12) * 10);
  }

  .col-md-11 {
    width: calc((100% / 12) * 11);
  }

  .col-md-12 {
    width: 100%;
  }

  img {
    width: auto;
    height: 75px;
  }

  img:hover {
    transform: rotate(350deg);
  }
}

@media screen and (min-width: 769px) {

  /* .container {
    background: lightgreen;
    box-shadow: 5px 5px 1px 1px rgba(0,0,0, 0.5);
  } */

  .col-lg-1 {
    width: calc(100% / 12);
  }

  .col-lg-2 {
    width: calc((100% / 12) * 2);
  }

  .col-lg-3 {
    width: calc((100% / 12) * 3);
  }

  .col-lg-4 {
    width: calc((100% / 12) * 4);
  }

  .col-lg-5 {
    width: calc((100% / 12) * 5);
  }

  .col-lg-6 {
    width: calc((100% / 12) * 6);
  }

  .col-lg-7 {
    width: calc((100% / 12) * 7);
  }

  .col-lg-8 {
    width: calc((100% / 12) * 8);
  }

  .col-lg-9 {
    width: calc((100% / 12) * 9);
  }

  .col-lg-10 {
    width: calc((100% / 12) * 10);
  }

  .col-lg-11 {
    width: calc((100% / 12) * 11);
  }

  .col-lg-12 {
    width: 100%;
  }

  img {
    width: auto;
    height: 150px;
  }

  img:hover {
    transform: rotate(350deg);
  }
}

/* OFFSET (MARGIN) */

@media screen and (max-width: 400px) {
  .offset-xs-1-reverse {
   margin-right: calc(100% / 12);
  }

  .offset-xs-1 {
    margin-left: calc(100% / 12);
  }

  .offset-xs-2 {
    margin-left: calc((100% / 12) * 2);
  }

  .offset-xs-3 {
    margin-left: calc((100% / 12) * 3);
  }

  .offset-xs-4 {
    margin-left: calc((100% / 12) * 4);
  }

  .offset-xs-5 {
    margin-left: calc((100% / 12) * 5);
  }

  .offset-xs-6 {
    margin-left: calc((100% / 12) * 6);
  }

  .offset-xs-7 {
    margin-left: calc((100% / 12) * 7);
  }

  .offset-xs-8 {
    margin-left: calc((100% / 12) * 8);
  }

  .offset-xs-9 {
    margin-left: calc((100% / 12) * 9);
  }

  .offset-xs-10{
    margin-left: calc((100% / 12) * 10);
  }

  .offset-xs-11 {
    margin-left: calc((100% / 12) * 11);
  }
}

@media screen and (min-width: 401px) and (max-width: 768px) {

  .offset-md-1-reverse {
   margin-right: calc(100% / 12);
  }
  .offset-md-1 {
    margin-left: calc(100% / 12);
  }

  .offset-md-2 {
    margin-left: calc((100% / 12) * 2);
  }

  .offset-md-3 {
    margin-left: calc((100% / 12) * 3);
  }

  .offset-md-4 {
    margin-left: calc((100% / 12) * 4);
  }

  .offset-md-5 {
    margin-left: calc((100% / 12) * 5);
  }

  .offset-md-6 {
    margin-left: calc((100% / 12) * 6);
  }

  .offset-md-7 {
    margin-left: calc((100% / 12) * 7);
  }

  .offset-md-8 {
    margin-left: calc((100% / 12) * 8);
  }

  .offset-md-9 {
    margin-left: calc((100% / 12) * 9);
  }

  .offset-md-10{
    margin-left: calc((100% / 12) * 10);
  }

  .offset-md-11 {
    margin-left: calc((100% / 12) * 11);
  }
}

@media screen and (min-width: 769px) {

  .offset-lg-1-reverse {
   margin-right: calc(100% / 12);
  }

  .offset-lg-1 {
    margin-left: calc(100% / 12);
  }

  .offset-lg-2 {
    margin-left: calc((100% / 12) * 2);
  }

  .offset-lg-3 {
    margin-left: calc((100% / 12) * 3);
  }

  .offset-lg-4 {
    margin-left: calc((100% / 12) * 4);
  }

  .offset-lg-5 {
    margin-left: calc((100% / 12) * 5);
  }

  .offset-lg-6 {
    margin-left: calc((100% / 12) * 6);
  }

  .offset-lg-7 {
    margin-left: calc((100% / 12) * 7);
  }

  .offset-lg-8 {
    margin-left: calc((100% / 12) * 8);
  }

  .offset-lg-9 {
    margin-left: calc((100% / 12) * 9);
  }

  .offset-lg-10{
    margin-left: calc((100% / 12) * 10);
  }

  .offset-lg-11 {
    margin-left: calc((100% / 12) * 11);
  }
}
